{# templates/demo/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Test DrinkingMate API client {% endblock %}

{% block content %}
    <h1>Blog</h1>

    {% block page_contents %}{% endblock %}
{% endblock %}
